/*Style header with colors and padding*/
.header {
    overflow: hidden;
    background-color: darkgrey;
    padding: 20px 10px;
}

/*Style header links*/
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/*Style logo link*/
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/*BG color change on mouse hover*/
.header a.active {
    background-color: dodgerblue;
    color: white;
}

/*Float link selection to right*/
.header-right {
    float: right;
}

/*Add media queries for responsiveness - when the screen is 500px or less thens tack links*/
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    
}